<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Father Charles Ara, PhD
                <small>The Grass is Greener Where it's Watered</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row content-wrapper lead">
       <div class="col-lg-6">    
        <img class="img-responsive"
            <%= image_tag'super_gandi.jpg' %>
        </img>
        </div>
        <div class="col-lg-6">
        <p>From 1956 to 1970, he served as associate pastor in five large parishes in the Archdiocese of Los Angeles:  St. Lawrence Martyr in the South Bay area, St. Finbar's in the Burbank-Glendale area, Visitation in West Los Angeles, All Saints in El Sereno and St. Cecilia's in the Tustin-Santa Ana area of Orange County.</p>

        <p>On October 10, 1970 Father Ara added love and marriage to his priesthood. He and his wife, Shirley, have been blessed with five wonderful children.  Martin, Jose, Rana, Dawna and Matthew are all now young adults.</p>

        <p>Father Ara is available to preside over weddings for Catholics who for one reason or another are not being married at their parish church.  He also presides over non-denominational weddings and sometimes joins with a Jewish rabbi for an inter-faith ceremony.  In addition, Father Ara also conducts funerals and baptisms when requested.</p>

        <p>Father Ara is a licensed psychotherapist with a marriage counseling office in Cerritos, California.</p>

        <p>Father Ara can be reached at (562) 865-4075. His e-mail address is cara@sprintmail.com</p>        
    </div>
    </div>
    <!-- /.row -->
</div>
