<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">The Grass is Greener Where it's Watered
              <small>An inspiring book on marriage</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row content-wrapper lead">
        <div class="services_image"> 
          	<%= image_tag 'grass_greener_book.jpg' %>
        </div>
		<p>Father Ara's common sense book is a result of his 46 years of marriage counseling and the preparation of over 5,000 couples for their married lives together.</p> 

		<p><i>"You'll discover at leat 40 good reasons for having read Father Ara's book.   I discovered the Number One reason was:  It made me a better husband."</i> ~ Casey Kasem</p>

		<p>Learn over 100 ways to improve your marriage relationship.</p>

		<p>In "The Grass is Greener..."   you will learn:</p>
		
			<ul>
				<li>6 steps in creative problem solving designed especially for couples</li>
				<li>The 9 steps of a successful relationship</li>
				<li>10 steps to change fault finding in loving finding</li>
				<li>12 ways to raise your ATM (Attention To Mate) Quotient</li>
				<li>13 steps to conflict resolution</li>
				<li>14 ways to view your mate's faults in a positive light</li>
				<li>16 guidelines for positive communication with your lover</li>
				<li>16 reasons given by couples on why their marriages have lasted</li>
				<li>27 appealing behaviors that enhance relationships</li>
			</ul>

		<p>Father Ara's highly acclaimed book on successful relationships "The Grass Is Greener Where It's Watered" is available at bookstores everywhere. Father Ara is always positive!</p>

		<p>You can order Father Ara's book directly from him at a discounted price of $10, plus $3.00 shipping and handling. California residents, please add $0.85 state sales tax.</p>  
		Please send check or money order to: Shirley Ara, 11215 Park Street, Cerritos, CA  90703.</p>
	</div>

	<div class="row content-wrapper text-center"><h2>Listen to the Book for Free</h2></div>
	<div class="row content-wrapper">
		<div class="col-md-5">
			<h2>Part 1: Chapters 1 - 4</h2>
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/115456477%3Fsecret_token%3Ds-TaKdx&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>	
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<h2>Part 2: Chapters 5 - 10</h2>
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/115459475%3Fsecret_token%3Ds-g6xup&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>