<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Therapy
              <small>Marriage and Family Counseling</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row content-wrapper">
  	<div class="col-md-12">
  		<p class ="lead">Does someone you know and care about need help in any of the situations described below?  Perhaps you, yourself?  If so, please call for an appointment or refer the person to me.</p>
      	
      	<div id="services_image">	
      		<%= image_tag 'counseling.jpg' %>
      	</div>
    	
		<p class ="lead">TEENAGER:  On drugs?  Run away from home?  Doing poorly in school?   School dropout?  Discipline problem?</p>

		<p class ="lead">SPOUSE:  Working too hard?  Drinking too much?  In love with someone else?  Despondent?</p>

		<p class ="lead">CHILD:  Frequent temper tantrums?  Slow learner?  Discipline problem?  Low self esteem?  Poor self image?</p>

		<p class ="lead">MARRIED:  Lack of communication?  Triangle love affair?  Financial problems?  In-law problems?   Sexual problems?</p>

		<p class ="lead">DIVORCED:  Lonely?  Fearful?  Bitter?  Angry?  Guilty?   Afraid to make a new beginning?</p>

		<p class ="lead">LIVING TOGETHER:  Expectations not being met?  Misunderstandings?   Undecided about getting married?</p>

		<p class ="lead">EMOTIONS:  Suffering from anxiety?  Depression?  Anger?   Guilt?  Severe stress?</p>

		<p class ="lead">REMARRIED:  Step-parenting problems?  Custody problems?  Stress in dealing with ex-spouse?   Conflicts over visitation of the children?</p>

		<p class ="lead">OTHER:  Unwanted pregnancy?  Overweight?  Alcohol or drug problem?   Excessive smoking?   Cancer patient in family?  Elderly parents a burden?  Loss of career?  Death of a loved one?</p>

		<p class ="lead">Again:  "LET ME HELP"</p>

		<p class ="lead">CHARLES D. ARA, Ph.D.

		17315 Studebaker Road, SUITE 130, CERRITOS, CA  90703

		(562) 865-4075</p>
		</div>
	</div>

</div>