<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Dr. Charles Ara
              <small>Seminars and Motivational Speaking</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->



<div class="row content-wrapper lead">
	<div class="col-md-6">
		<img class="img-responsive" 
	        <%= image_tag 'charlie_eating_icecream.jpg' %>
	    </img>
    </div>
    <div class="col-md-6">
		<p>Dr. Ara is a witty, experienced professional speaker.  He is also a popular guest on radio and television talk shows. His self-enrichment and communication seminars are humerous, informative, and uplifting. They are laced with good old common sense.  Charles Ara is on the teaching staffs of several community colleges.  He is a therapist in private practice with an office in Cerritos, CA.  He is a member of many professional organizations which include the California Association of Marriage and Family Therapists and the Professional Speakers' Network.</p>
		
		<h2>Keynote & Motivational Addresses</h2>

		<ul>
			<li>Developing Self-Esteem and Mental Fitness</li>
			<li>Farewell to Anger and Other Negative Emotions</li>
			<li>Thinking positively about Self and Life</li>
		</ul>
		<h2>Seminars</h2>
		<ul>
			<li>Resolving Conflicts in the School Environment</li>
			<li>Handling Stress - At Home, At Work, and in Life</li>
			<li>Managing Pressure and Tension at School</li>
			<li>Positive Communication in Negative Situations</li>
		</ul>
		
		<h2>Partial Client List</h2>
		<ul>	
			<li>Fullerton Joint Union High School District</li>		
			<li>Tustin Unified School District</li>
			<li>Anaheim City School District</li>		
			<li>Cerritos College Classified Staff</li>
			<li>Garvey Unified School District</li>		
			<li>Santa Ana Unified School District</li>
			<li>Teachers at Warren High in Downey Centralia School District</li>
		</ul>
		</div>

		<div class="col-md-12 clearfix">
		<h2>Testimonials</h2>

		<p><em>"You have a wonderful hands-on approach directly relating with the class's concerns and questions.  Your answers, woven with humor, were useful for a variety of situations.  Your wise common sense approach tore down walls people unintentionally build between each other."</em> ~ Kathleen R. Cooley, Anaheim school district</p>

		</p><em>"Many thanks for your time, effort and cooperation in helping to make Garvey's Health Fair a success."</em> ~ Caroline Van Winkle, Garvey school district</p>

		<p><em>"Since this was so important to everyone, I was delighted to have such a dynamic presenter covering the topic.  As you know, the comments on the session evaluations were extremely complimentary and enthusiastic.  I hope that we will have the pleasure of working with you in the future."</em> ~ Judy de Arakal, Tustin unified school district</p>

		<h2>For availability & scheduling please contact:</h2>

		<p>Charles D. Ara, Ph.D.

		17315 Studebaker Road, Suite 130, Cerritos, CA  90703   (562) 865-4075</p>
		</div>
	</div>
 
 </div>
