<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Dr. Charles Ara
              <small>Seminars and Motivational Speaking</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

<p>


Dr. Ara is a witty, experienced professional speaker.  He is also a popular guest on radio and television talk shows.   His self-enrichment and communication seminars are humerous, informative, and uplifting.  They are laced with good old common sense.  Charles Ara is on the teaching staffs of several community colleges.  He is a therapist in private practice with an office in Cerritos, CA.  He is a member of many professional organizations which include the California Association of Marriage and Family Therapists and the Professional Speakers' Network.
KEYNOTE AND MOTIVATIONAL ADDRESSES

Developing Self-Esteem and Mental Fitness
Farewell to Anger and Other Negative Emotions
Thinking positively about Self and Life
SEMINARS

Resolving Conflicts in the School Environment
Handling Stress - At Home, At Work, and in Life
Managing Pressure and Tension at School
Positive Communication in Negative Situations
Partial Client List
Fullerton Joint Union High School District                       Tustin Unified School District
Anaheim City School District                                            Cerritos College Classified Staff
Garvey Unified School District                                          Santa Ana Unified School District
Teachers at Warren High in Downey                                Centralia School District

TESTIMONIALS

"You have a wonderful hands-on approach directly relating with the class's concerns and questions.  Your answers, woven with humor, were useful for a variety of situations.  Your wise common sense approach tore down walls people unintentionally build between each other." 
Kathleen R. Cooley  ANAHEIM SCHOOL DISTRICT

"Many thanks for your time, effort and cooperation in helping to make Garvey's Health Fair a success."  Caroline Van Winkle   GARVEY SCHOOL DISTRICT

"Since this was so important to everyone, I was delighted to have such a dynamic presenter covering the topic.  As you know, the comments on the session evaluations were extremely complimentary and enthusiastic.  I hope that we will have the pleasure of working with you in the future."  
Judy de Arakal  TUSTIN UNIFIED SCHOOL DISTRICT

FOR AVAILABILITY AND SCHEDULING, PLEASE CONTACT:

CHARLES D. ARA, Ph.D.

17315 Studebaker Road, SUITE 130, CERRITOS, CA  90703   (562) 865-4075</p>
 
 </div>
