<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Weddings
                <small>Water the Grass</small>
            </h1>
        </div>
    </div>
    
    <!-- content and image here -->
	<div class="row content-wrapper lead">
	</div>

</div>