<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Thank you for your message.
              <small>I will get back to you as soon as I can.</small>
          </h1>
      </div>
  </div>

<div class="row content-wrapper lead">
      <div class="col-lg-12">
          <h1>In the meantime take good care of yourself, you deserve it!</h1>
      </div>
  </div>
</div>