/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Slabo 27px', serif;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

/* links */
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}


/* images */
img {
  border-radius: 5px;
}

/* line breaks */
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.topnav {
    font-size: 16px; 
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #fff;
}

/* change navbar link color */
.navbar-default .navbar-nav > li > a {
   color: #006200;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #009d00;
  background-color: transparent;
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;        
}

.blog-content-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.lead {
    font-size: 16px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    color: #f8f8f8;
    background: asset-url('Martin_Megan_Wedding.jpg') no-repeat center center;
    background-size: cover;
}


#intro-header-overlay {
	background-color: rgba(0,0,0,.50);
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;        
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,.75);
    font-size: 3em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h4 {
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 1em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    color: #006200;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.simple_form_button {
    background-color: #006200;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 6px 12px;
    text-decoration: none;
}.simple_form_button:hover {
    background-color: #009d00;
}.simple_form_button:active {
    position: relative;
    top: 1px;
}   

.hidden {
    display: none;
}

.footer {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0;
    background-color: #006200;
    color: #fff;
}

.footer_links {
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: underline;    
}

.footer_links:hover {
    background-color: #fff;
}

li {
  a {
    color: #fff;
  }
}

p.copyright {
    margin: 15px 0 0;
    color: #fff;
}

@import "posts"